<a href="https://colab.research.google.com/github/shengchishih/Leetcode/blob/main/26-Remove_Duplicates_from_Sorted_Array_easy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Given an integer array nums sorted in non-decreasing order, remove the duplicates in-place such that each unique element appears only once. The relative order of the elements should be kept the same. Then return the number of unique elements in nums.

Consider the number of unique elements of nums to be k, to get accepted, you need to do the following things:

* Change the array nums such that the first k elements of nums contain the unique elements in the order they were present in nums initially. The remaining elements of nums are not important as well as the size of nums.

* Return k.

Example 1:

Input: nums = [1,1,2]

Output: 2, nums = [1,2,_]

Explanation: Your function should return k = 2, with the first two elements of nums being 1 and 2 respectively.
It does not matter what you leave beyond the returned k (hence they are underscores).

Example 2:

Input: nums = [0,0,1,1,1,2,2,3,3,4]

Output: 5, nums = [0,1,2,3,4,_,_,_,_,_]

Explanation: Your function should return k = 5, with the first five elements of nums being 0, 1, 2, 3, and 4 respectively.
It does not matter what you leave beyond the returned k (hence they are underscores).

In [ ]:
def removeDuplicates(nums):
  nums_new=[]
  for i in range(len(nums)):
    if nums[i] not in nums_new:
      nums_new.append(nums[i])
  nums= nums_new
  return len(nums)
#this code is not correct as it changes the length of nums

In [ ]:
def removeDuplicates1(nums):
  if not nums:
    return 0 #if nums is empty then return 0

  count=0
  for i in range(len(nums)):
    if nums[i] != nums[count]:
      count += 1
      nums[count]=nums[i] #update nums
  return count+1

In [ ]:
nums1=[1,1,2]
nums2=[0,0,1,1,1,2,2,3,3,4]

In [ ]:
removeDuplicates1(nums2)

[0, 1, 2, 3, 4, 2, 2, 3, 3, 4]

In [ ]:
nums=[1,2]
nums.append(3)
print(nums)

[1, 2, 3]